fastapi
uvicorn
psycopg2-binary
python-dotenv
requests
anthropic
structlog
gunicorn
resend
google-api-python-client
google-auth-oauthlib
google-auth
google-cloud-pubsub
google-generativeai
